@charset "UTF-8";

/* Telas maiores */

@media screen and (min-width: 768px) {
    .material-icons {
        display: none !important;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 690px;
    }
}